
.image {
  background-color: #e1ebf1;
  border-radius: 150px;
  width: 150px;
  height: 150px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

 .image:hover {
  box-shadow: 2px 3px 3px 2px #fff;
  transform: translate3d(20px);
  
  height: 150px;
  width: 150px;
}


.image svg {
  width: 150px;
  margin-top: -322px;
  margin-left: 0px;
}